# Backend env
/backend2/.env
/backend2/.env.local

# Frontend env
/frontend2/.env
/frontend2/.env.local

# Node modules and build folders
/backend2/node_modules/
/frontend2/node_modules/
/frontend2/build/
